<style>
.box{
    background-color: blue;
    height: 100px;
    width: 100px;

    /* position: relative; */
    /* position:absolute; */
    /* position: fixed; */
    position: sticky; 
    left: 50px;
    top:10px;

    z-index: -1;
    
    /* margin-top: 100px;
    margin-left: 50px; */
}
.table,

td {

    width: 100px;
    height: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
}
th {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}



</style>