<style>.table,
th,
td {

    width: 100px;
    height: 300px;
}
th {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-image: url(../img/cook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

</style>